
*{
  /* border: solid 1px red; */
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

a{
  text-decoration: none;
  color: white;
}



.content-section{
  background-color: #fff7fa;
}




.category-card {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.card-img-top{
  height: 50% !important;
}



/* MovieOverview.css */
.movie-overview {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.movie-scroll-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.movie-scroll {
  display: flex;
  transition: transform 1s ease;
}

.movie-item {
  flex: 0 0 100%; /* Each movie takes 100% of the container's width */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.movie-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.movie-details {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
}

.movie-details h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.movie-details p {
  margin: 5px 0;
  color: #666;
}
